@font-face {
  font-family: Vazir;
  font-weight: normal;
  src: 
  url('../fonts/vazir/Vazir.eot') format("eot"),
  url('../fonts/vazir/Vazir.woff') format("woff"),
  url('../fonts/vazir/Vazir.woff2') format("woff2"),
  url('../fonts/vazir/Vazir.ttf') format("ttf");
}

@font-face {
  font-family: VazirBold;
  font-weight: bold;
  src: 
  url('../fonts/vazir/Vazir-Bold.eot') format("eot"),
  url('../fonts/vazir/Vazir-Bold.woff') format("woff"),
  url('../fonts/vazir/Vazir-Bold.woff2') format("woff2"),
  url('../fonts/vazir/Vazir-Bold.ttf') format("ttf");
}

@font-face {
  font-family: Debussy;
  font-weight: normal;
  src: 
  url('../fonts/Debussy/Debussy.eot') format("eot"),
  url('../fonts/Debussy/Debussy.woff') format("woff"),
  url('../fonts/Debussy/Debussy.woff2') format("woff2"),
  url('../fonts/Debussy/Debussy.ttf') format("ttf");
}
@font-face {
  font-family: QSBR;
  font-weight: normal;
  src: 
  url('../fonts/QuickSandBook/QuicksandBook.eot') format("eot"),
  url('../fonts/QuickSandBook/QuicksandBook.woff') format("woff"),
  url('../fonts/QuickSandBook/QuicksandBook.woff2') format("woff2"),
  url('../fonts/QuickSandBook/QuicksandBook.ttf') format("ttf");
}
@font-face {
  font-family: QSBRBOLD;
  font-weight: bold;
  src: 
  url('../fonts/QuickSandBookBold/QuicksandBold.eot') format("eot"),
  url('../fonts/QuickSandBookBold/QuicksandBold.woff') format("woff"),
  url('../fonts/QuickSandBookBold/QuicksandBold.woff2') format("woff2"),
  url('../fonts/QuickSandBookBold/QuicksandBold.ttf') format("ttf");
}
