@import "general";
@import "./color";
@import "./mixins";

.App {
  .main-container {}
}

.triangle-white{
  fill: rgb(255, 255, 255);
  stroke-width: 8;
}
.triangle-blue{
  fill: #1862b5;
  stroke-width: 8;
}
.qsbr{
  font-family: QSBR;
  line-height: 35px;
}
.qsbrBold{
  font-family: QSBRBold;
}
.debussy{
  font-family: Debussy;
}
.p-20{
  padding: 20px;
}
.home{
  overflow: hidden;
}
.inputs{
  padding: 10px;
  margin: 5px;
  width:344px !important;
  height:76px !important;
  border-radius: 5px;
  border-width: 0px;
}

p{
  line-height: 1;
}

.d-f-c-c{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title{
  font-size: 50px;
}

.st-width{
  position: relative;
  width: 100%;
}
._90per{
  width:90%;
}
._80per{
  width:80%;
}
._60per{
  width:60%;
}
._50per{
  width:50%;
}
._40per{
  width:40%;
}
._30per{
  width:30%;
}
._20per{
  width:20%;
}
._10per{
  width:10%;
}





/////////////////
@media (min-width: 320px) {
  .container {
    max-width: 300px;
  }
  .d-f-c-c{
    flex-direction: column
  }
  .header-title{
    font-size: 30px;
    text-align: center;

  }
}
/////////////////
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .d-f-c-c{
    flex-direction: column
  }
  .header-title{
    font-size: 30px;
    text-align: center;

  }
}
/////////////////
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .d-f-c-c{
    flex-direction: column
  }
  .header-title{
    text-align: center;
    font-size: 30px;
  }
}
/////////////////
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .d-f-c-c{
    flex-direction: row
  }
  .header-title{
    font-size: 30px;
  }
} 
/////////////////
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .d-f-c-c{
    flex-direction: row
  }
  .header-title{
    font-size: 50px;
  }
}
/////////////////

.container{
  position: relative;
}
.f-d-c{
  flex-direction: column;
}
