@import "general";
@import "./color";
@import "./mixins";
.App {
  .main-container {}
}
.st-width{
  //627 313
  position: relative;
  width: 500px;
}
.st2-width{
  //627 313
  position: relative;
  width: 315px;
}
.st3-width{
  //627 313
  position: relative;
  width: 210px;
}
.triangle-white{
  fill: rgb(255, 255, 255);
  stroke-width: 8;
}
.triangle-blue{
  fill: #1862b5;
  stroke-width: 8;
}
.qsbr{
  font-family: QSBR;
  line-height: 35px;
}
.qsbrBold{
  font-family: QSBRBold;
}
.debussy{
  font-family: Debussy;
}
.p-20{
  padding: 20px;
}
.home{
  overflow: hidden;
}
.inputs{
  padding: 10px;
  margin: 5px;
  width:344px !important;
  height:76px !important;
  border-radius: 5px;
  border-width: 0px;
}
p{
  line-height: 1;
}

.d-f-c-c{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 0px) {
  .container {
    max-width: 540px;
  }
  .d-f-c-c{
    flex-direction: column
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .d-f-c-c{
    flex-direction: column
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .d-f-c-c{
    flex-direction: column
  }
} 
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .d-f-c-c{
    flex-direction: row
  }

}

